@font-face{
    font-family: "Oxanium extrabold";
    src:url("../../assets/Oxanium-font/Oxanium-ExtraBold.ttf");
    font-weight: 800
}

@font-face{
    font-family: "Oxanium bold";
    src:url("../../assets/Oxanium-font/Oxanium-Bold.ttf");
    font-weight: 700
}

@font-face{
    font-family: "Oxanium semibold";
    src:url("../../assets/Oxanium-font/Oxanium-SemiBold.ttf");
    font-weight: 600;
}

@font-face{
    font-family: "Oxanium medium";
    src:url("../../assets/Oxanium-font/Oxanium-Medium.ttf");
    font-weight: 500;
}

@font-face{
    font-family: "Oxanium regular";
    src:url("../../assets/Oxanium-font/Oxanium-Regular.ttf");
    font-weight: 400;
}
@font-face{
    font-family: "Oxanium light";
    src:url("../../assets/Oxanium-font/Oxanium-Light.ttf");
    font-weight: 300;
}
@font-face{
    font-family: "Oxanium extralight";
    src:url("../../assets/Oxanium-font/Oxanium-ExtraLight.ttf");
    font-weight: 200
}