@import "./mixins.scss";

header{
    display: flex;
    justify-content: center;
   
    align-items: center;
    padding: 2rem 0;

    ul{
        display: flex;
        list-style: none;
        height: 100%;
        align-items: center;
        gap: 5rem;

        li{
            font-size: 1.8rem;
            color: var(--gray);
        }
    }
}

.join-discord{
    padding: 1.6rem 2rem;
    background-color: var(--green-primary);
    border: none;
    font-weight: 700;
    color: white
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 120rem;
    height: 100%;
}