@import "./mixins.scss";

header{
    display: flex;
    justify-content: center;
   
    align-items: center;
    padding: 2rem 0;

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        height: 100%;
        width: 100%;
        align-items: center;
        position: fixed;
        top: 0;
        right:-100%;
        background: var(--black);
        padding-top: 10rem;
        gap: 1.5rem;


        @include responsive{
            position: static;
            flex-direction: row;
            gap: 3rem;
            padding:0;
            width: unset;
            justify-content: center;
        }

        li{
            font-size: 1.8rem;
            color: var(--gray);
            transition: 400ms ease;
            cursor: pointer;
            border: solid var(--gray-secondary) 0.1rem;
            width: 80%;
            height: 6rem;
            padding: 0.5rem;

            &.active{
                border-color: var(--green-secondary);


                a{
                    background-color: var(--green-secondary);

                    .square{
                        opacity:1;
                        animation: rotate 2s linear infinite;
                    }

                    .right{
                        animation-direction: reverse;
                    }
                    .left{
                        animation-direction: normal;
                    }

                    @include responsive{
                        background: none;
                        font-weight: 800;
                        color: white;
                    }
                }
            }
           
           

            @include responsive{
                padding:0;
                border: none;
                height: unset;
                width: unset;
                &:hover{
                    color: white;
                }
            }

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                position: relative;

                .square{
                    padding:0.1rem;
                    display: block;
                    opacity:0;
                    width: 1.7rem;
                    height: 1.7rem;
                    padding: 0.2rem;
                    display: block;
                    border: solid 0.1rem var(--green-primary);
                    position: absolute;
                    margin: auto;
                    top:0;
                    bottom:0;

                    &:before{
                        content:"";
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: var(--green-primary);
                    }

                    &.right{
                        right: 1rem
                    }
                    &.left{
                        left:1rem;
                    }
                }
                

                @include responsive{
                    display: inline;
                    background: none;

                    .square{
                        display: none;
                    }
                }
            }
        }
    }
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 120rem;
    height: 100%;
    
}

.logo{
    position: relative;
    z-index: 10;
}

.join-discord{
    padding: 1.6rem 2rem;
    background-color: var(--green-primary);
    border: none;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: 400ms ease;
    outline: none;
    display: none;
    &:hover{
        opacity: 0.7;
    }

    @include responsive {
        display: inline-block;
    }
}

.hamburger{
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
    position: relative;
    z-index: 10;

    @include responsive {
        display: none;
    }
    span{
        display: block;
        height: 0.2rem;
        background: white;
    }
    span:nth-child(1){
        width: 5rem;
        
    }
    span:nth-child(2){
        width: 3rem;
    }
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}